In [187]:
import pandas as pd
from datetime import datetime
dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')

saptextfile='5555.xls'

cols=[0,1,6,11,12,16,19,21]
colsname=['posting_date','doc_no','tax_no','doctype','payee_name','description','amount','collected']

dateparse = lambda dates: [datetime.strptime(d, '%d.%m.%Y') for d in dates]

df=pd.read_table(saptextfile,sep='\t',encoding='utf_16_le',engine='python',date_parser=dateparse,parse_dates=['posting_date'],header=None,usecols=cols,names=colsname,dtype={'doctype':'category','collected':'category'},skiprows=10,nrows=55)
df.doc_no=df.doc_no.astype('str')
df['amount']=df['amount'].str.replace(',','')
df['amount']=df['amount'].str.replace('.','')
df.amount=df.amount.astype('int') #ตอนที่แสดงผลต้องหารด้วย 100


#df.describe()
df

/var/folders/0y/_vrzpvc51vn0k79n34mssfq00000gn/T/ipykernel_32648/4187252631.py:12: FutureWarning: Defining usecols with out of bounds indices is deprecated and will raise a ParserError in a future version.
  df=pd.read_table(saptextfile2,sep='\t',encoding='utf_16_le',engine='python',date_parser=dateparse,parse_dates=['posting_date'],header=None,usecols=cols,names=colsname,dtype={'doctype':'category','collected':'category'},skiprows=10,nrows=55)
/var/folders/0y/_vrzpvc51vn0k79n34mssfq00000gn/T/ipykernel_32648/4187252631.py:15: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['amount']=df['amount'].str.replace('.','')

Empty DataFrame
Columns: [posting_date, doc_no, amount]
Index: []

In [109]:
df.dtypes

posting_date    datetime64[ns]
doc_no                  object
tax_no                  object
doctype               category
payee_name              object
description             object
amount                  object
collected             category
dtype: object

ทำการ remark ส่วนที่ไม่ใช่ข้อมูล

In [197]:
file1=open(saptextfile,'r',encoding='utf_16_le')
saptextfile='5555.xls'
saptextfile2=saptextfile+'.txt'
file2=open(saptextfile2,'w')
line=file1.readline()
while line != '':
    #print(line)
    if (line[0]!='0') and (line[0]!='1') and (line[0]!='2') and (line[0]!='3') and (line[0]!='#'):
        file2.write('#'+line)
    else:
        file2.write(line)
    line=file1.readline()
file1.close()
file2.close()

In [198]:
import pandas as pd
from datetime import datetime
dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')


cols=[0,1,6,11,12,16,19,21]
colsname=['posting_date','doc_no','tax_no','doctype','payee_name','description','amount','collected']

dateparse = lambda dates: [datetime.strptime(d, '%d.%m.%Y') for d in dates]

df=pd.read_table(saptextfile2,sep='\t',engine='python',date_parser=dateparse,parse_dates=['posting_date'],header=None,usecols=cols,names=colsname,comment='#',dtype={'doctype':'category','collected':'category'})
df.doc_no=df.doc_no.astype('str')
df['amount']=df['amount'].str.replace(',','')
df['amount']=df['amount'].str.replace('.','')
df.amount=df.amount.astype('int') #ตอนที่แสดงผลต้องหารด้วย 100


#df.describe()
df

/var/folders/0y/_vrzpvc51vn0k79n34mssfq00000gn/T/ipykernel_32648/2971199571.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['amount']=df['amount'].str.replace('.','')

,posting_date,doc_no,tax_no,doctype,payee_name,description,amount,collected
0,2022-10-03,4600011071,1/66,PC,นายแสนภูมิ โยวะ,ค่าจ้างมิสเตอร์ฯ ก.ย.65 (งบค) พังโคน,1401840,Y
1,2022-10-04,4600028284,1/66 พังโคน,PC,นายแสนภูมิ โยวะ,NaN,-1401840,Y
2,2022-10-04,4600014203,3/66,PC,นายภัทชราวุธ สุทธิอาจ,"ค่าจ้างตัดมาตร,ติดตามหนี้ฯ ก.ย.65 (งอก) พังโคน",124740,Y
3,2022-10-04,4600014233,4/66,PC,นางจุฑามาศ ดอนแสง,"ค่าจ้างประสานมาตร,ติดตามหนี้ฯ ก.ย.65 (งอก) พังโคน",51480,Y
4,2022-10-04,4600014252,5/66,PC,นายนริศร ฤทธิ์ธรรม,ค่าจ้างติดตามหนี้ฯ ก.ย.65 (งอก) พังโคน,186120,Y
...,...,...,...,...,...,...,...,...
198,2022-10-29,4600022364,TIO6510000404,PC,บจก.อัคราช แอ๊กซ์ ณีย์ (2001),ค่าน้ำมันรถ (งผล-ขพง.702 อด) พังโคน,10000,Y
199,2022-10-31,4600028007,10/66 พังโคน,PC,บจก.อัคราช แอ๊กซ์ ณีย์ (2001),NaN,-10000,Y
200,2022-10-31,4600028310,9/66 พังโคน,PC,บจก.อัคราช แอ๊กซ์ ณีย์ (2001),NaN,-20000,Y
201,2022-10-31,4600022401,TIO6510000307,PC,บจก.อัคราช แอ๊กซ์ ณีย์ (2001),ค่าน้ำมันรถ (งผล-ขพง.702 อด) พังโคน,10000,Y
202,2022-10-31,4600022403,TIO6510000332,PC,บจก.อัคราช แอ๊กซ์ ณีย์ (2001),ค่าน้ำมันรถ (งผล-ขพง.702 อด) พังโคน,10000,Y

In [192]:
df.describe()

             amount
count  2.030000e+02
mean   0.000000e+00
std    4.728713e+05
min   -1.736503e+06
25%   -7.714600e+04
50%    2.675000e+04
75%    1.000000e+05
max    1.736503e+06

In [193]:
df.amount.sum()

0

In [194]:
df.to_excel(saptextfile+'.xlsx',index=False)