In [187]:
import pandas as pd
from datetime import datetime
dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')

saptextfile='5555.xls'

cols=[0,1,6,11,12,16,19,21]
colsname=['posting_date','doc_no','tax_no','doctype','payee_name','description','amount','collected']

dateparse = lambda dates: [datetime.strptime(d, '%d.%m.%Y') for d in dates]

df=pd.read_table(saptextfile,sep='\t',encoding='utf_16_le',engine='python',date_parser=dateparse,parse_dates=['posting_date'],header=None,usecols=cols,names=colsname,dtype={'doctype':'category','collected':'category'},skiprows=10,nrows=55)
df.doc_no=df.doc_no.astype('str')
df['amount']=df['amount'].str.replace(',','')
df['amount']=df['amount'].str.replace('.','')
df.amount=df.amount.astype('int') #ตอนที่แสดงผลต้องหารด้วย 100


#df.describe()
df

/var/folders/0y/_vrzpvc51vn0k79n34mssfq00000gn/T/ipykernel_32648/4187252631.py:12: FutureWarning: Defining usecols with out of bounds indices is deprecated and will raise a ParserError in a future version.
  df=pd.read_table(saptextfile2,sep='\t',encoding='utf_16_le',engine='python',date_parser=dateparse,parse_dates=['posting_date'],header=None,usecols=cols,names=colsname,dtype={'doctype':'category','collected':'category'},skiprows=10,nrows=55)
/var/folders/0y/_vrzpvc51vn0k79n34mssfq00000gn/T/ipykernel_32648/4187252631.py:15: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['amount']=df['amount'].str.replace('.','')

Empty DataFrame
Columns: [posting_date, doc_no, amount]
Index: []

In [109]:
df.dtypes

posting_date    datetime64[ns]
doc_no                  object
tax_no                  object
doctype               category
payee_name              object
description             object
amount                  object
collected             category
dtype: object

อ่าน ZFAPRP08

ทำการ remark ส่วนที่ไม่ใช่ข้อมูล

In [1]:
saptextfile='5555.xls'
saptextfile2=saptextfile+'.txt'
file1=open(saptextfile,'r',encoding='utf_16_le')
file2=open(saptextfile2,'w')
line=file1.readline()
while line != '':
    #print(line)
    if (line[0]!='0') and (line[0]!='1') and (line[0]!='2') and (line[0]!='3') and (line[0]!='#'):
        file2.write('#'+line)
    else:
        file2.write(line)
    line=file1.readline()
file1.close()
file2.close()

In [2]:
import pandas as pd
from datetime import datetime
#dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')


cols=[0,1,6,11,12,16,19,21]
colsname=['posting_date','doc_no','tax_no','doctype','payee_name','description','amount','collected']

dateparse = lambda dates: [datetime.strptime(d, '%d.%m.%Y') for d in dates]

df=pd.read_table(saptextfile2,sep='\t',engine='python',date_parser=dateparse,parse_dates=['posting_date'],header=None,usecols=cols,names=colsname,comment='#',dtype={'doctype':'category','collected':'category'})
df.doc_no=df.doc_no.astype('str')
df['amount']=df['amount'].str.replace(',','')
df['amount']=df['amount'].str.replace('.','')
df.amount=df.amount.astype('int') #ตอนที่แสดงผลต้องหารด้วย 100


#df.describe()
df

/var/folders/0y/_vrzpvc51vn0k79n34mssfq00000gn/T/ipykernel_36012/2971199571.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['amount']=df['amount'].str.replace('.','')

,posting_date,doc_no,tax_no,doctype,payee_name,description,amount,collected
0,2022-10-03,4600011071,1/66,PC,นายแสนภูมิ โยวะ,ค่าจ้างมิสเตอร์ฯ ก.ย.65 (งบค) พังโคน,1401840,Y
1,2022-10-04,4600028284,1/66 พังโคน,PC,นายแสนภูมิ โยวะ,NaN,-1401840,Y
2,2022-10-04,4600014203,3/66,PC,นายภัทชราวุธ สุทธิอาจ,"ค่าจ้างตัดมาตร,ติดตามหนี้ฯ ก.ย.65 (งอก) พังโคน",124740,Y
3,2022-10-04,4600014233,4/66,PC,นางจุฑามาศ ดอนแสง,"ค่าจ้างประสานมาตร,ติดตามหนี้ฯ ก.ย.65 (งอก) พังโคน",51480,Y
4,2022-10-04,4600014252,5/66,PC,นายนริศร ฤทธิ์ธรรม,ค่าจ้างติดตามหนี้ฯ ก.ย.65 (งอก) พังโคน,186120,Y
...,...,...,...,...,...,...,...,...
198,2022-10-29,4600022364,TIO6510000404,PC,บจก.อัคราช แอ๊กซ์ ณีย์ (2001),ค่าน้ำมันรถ (งผล-ขพง.702 อด) พังโคน,10000,Y
199,2022-10-31,4600028007,10/66 พังโคน,PC,บจก.อัคราช แอ๊กซ์ ณีย์ (2001),NaN,-10000,Y
200,2022-10-31,4600028310,9/66 พังโคน,PC,บจก.อัคราช แอ๊กซ์ ณีย์ (2001),NaN,-20000,Y
201,2022-10-31,4600022401,TIO6510000307,PC,บจก.อัคราช แอ๊กซ์ ณีย์ (2001),ค่าน้ำมันรถ (งผล-ขพง.702 อด) พังโคน,10000,Y
202,2022-10-31,4600022403,TIO6510000332,PC,บจก.อัคราช แอ๊กซ์ ณีย์ (2001),ค่าน้ำมันรถ (งผล-ขพง.702 อด) พังโคน,10000,Y

In [11]:
df.describe()

             amount
count  2.030000e+02
mean   0.000000e+00
std    4.728713e+05
min   -1.736503e+06
25%   -7.714600e+04
50%    2.675000e+04
75%    1.000000e+05
max    1.736503e+06

In [32]:
dmin=df['posting_date'].min()
int(dmin.strftime('%m'))

10

In [219]:
df['จำนวนเงิน'].sum()

77112.75000000006

In [193]:
df.amount.sum()

0

In [4]:
df['posting_date'].count()

203

In [5]:
df['amount']

0      1401840
1     -1401840
2       124740
3        51480
4       186120
        ...
198      10000
199     -10000
200     -20000
201      10000
202      10000
Name: amount, Length: 203, dtype: int64

In [194]:
df.to_excel(saptextfile+'.xlsx',index=False)

In [217]:
df.describe()

,คีย์การผ่านรายการ,เขตธุรกิจ,จำนวนเงิน,เอกสารกาหักล้าง,วันที่หักล้าง
count,85.000000,86.0,87.000000,0.0,0.0
mean,43.647059,1094.0,886.353448,NaN,NaN
std,4.842043,0.0,54197.857341,NaN,NaN
min,40.000000,1094.0,-164723.000000,NaN,NaN
25%,40.000000,1094.0,-24229.250000,NaN,NaN
50%,40.000000,1094.0,0.190000,NaN,NaN
75%,50.000000,1094.0,24959.325000,NaN,NaN
max,50.000000,1094.0,154869.380000,NaN,NaN

In [6]:
import tkinter as tk


root = tk.Tk()

# specify size of window.
root.geometry("250x170")

# Create text widget and specify size.
T = tk.Text(root, height = 5, width = 52)

# Create label
l = tk.Label(root, text = "Fact of the Day")
l.config(font =("Courier", 14))

Fact = """A man can be arrested in
Italy for wearing a skirt in public."""

# Create button for next text.
b1 = tk.Button(root, text = "Next", )

# Create an Exit button.
b2 = tk.Button(root, text = "Exit",
			command = root.destroy)

l.pack()
T.pack()
b1.pack()
b2.pack()

# Insert The Fact.
T.insert(tk.END, Fact)

tk.mainloop()

อ่าน GL

In [40]:
import pandas as pd
from datetime import datetime
#dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
cols=[1,2,3,4,5,6,7,8,9,10,11,12,13]
colsname=['อ้างอิง','การกำหนด','เลขที่เอกสาร','วันที่เอกสาร','วันที่ผ่านรายการ','คีย์การผ่านรายการ','ประเภทเอกสาร','ชื่อผู้ใช้','เขตธุรกิจ','จำนวนเงิน','เอกสารกาหักล้าง','วันที่หักล้าง','ข้อความ']
sapfilename='export.xlsx'
df=pd.read_excel(sapfilename,names=colsname,usecols=cols,dtype={'เลขที่เอกสาร':'str'})
df=pd.read_excel(sapfilename, names=colsname,usecols=cols, dtype={'เลขที่เอกสาร': 'str','จำนวนเงิน':'str'})

In [45]:
df.dtypes

อ้างอิง                      object
การกำหนด                     object
เลขที่เอกสาร                 object
วันที่เอกสาร         datetime64[ns]
วันที่ผ่านรายการ     datetime64[ns]
คีย์การผ่านรายการ           float64
ประเภทเอกสาร                 object
ชื่อผู้ใช้                   object
เขตธุรกิจ                   float64
จำนวนเงิน                    object
เอกสารกาหักล้าง             float64
วันที่หักล้าง               float64
ข้อความ                      object
dtype: object

In [42]:
df

,อ้างอิง,การกำหนด,เลขที่เอกสาร,วันที่เอกสาร,วันที่ผ่านรายการ,คีย์การผ่านรายการ,ประเภทเอกสาร,ชื่อผู้ใช้,เขตธุรกิจ,จำนวนเงิน,เอกสารกาหักล้าง,วันที่หักล้าง,ข้อความ
0,JVJV65100001,25651003,2100000490,2022-10-03,2022-10-03,40.0,JV,203221,1094.0,49658.22,NaN,NaN,แจกแจงเงินรับหน้าเคาน์เตอร์
1,JVJV65100002,25651003,2100000491,2022-10-03,2022-10-03,50.0,JV,203221,1094.0,-49622.75,NaN,NaN,นำเงินฝากบัญชีธนาคาร ณ สิ้นวัน
2,JVJV65100005,25651003,2100000494,2022-10-03,2022-10-03,40.0,JV,203221,1094.0,0.25,NaN,NaN,เงินเกินจากการตรวจนับ
3,JVJV65100007,25651004,2100004659,2022-10-04,2022-10-04,40.0,JV,203221,1094.0,49307.84,NaN,NaN,แจกแจงเงินรับหน้าเคาน์เตอร์
4,JVJV65100008,25651004,2100004660,2022-10-04,2022-10-04,50.0,JV,203221,1094.0,-19192,NaN,NaN,นำเงินฝากบัญชีธนาคาร ณ สิ้นวัน
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,JVJV65100103,25651031,2100087271,2022-10-31,2022-10-31,50.0,JV,203221,1094.0,-0.06,NaN,NaN,เงินเกินจากการตรวจนับ
83,JVJV65100103,25651031,2100087285,2022-10-31,2022-10-31,40.0,JV,203221,1094.0,0.06,NaN,NaN,เงินเกินจากการตรวจนับ
84,JVJV65100103,25651031,2100087286,2022-10-31,2022-10-31,50.0,JV,203221,1094.0,-0.56,NaN,NaN,เงินเกินจากการตรวจนับ
85,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,1094.0,25704.25,NaN,NaN,NaN
86,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,25704.25,NaN,NaN,NaN

In [9]:
'บันทึกชดเชยเงินสดย่อยจากรายได้'

'บันทึกชดเชยเงินสดย่อยจากรายได้'

In [43]:
df=df[df['ข้อความ']=='บันทึกชดเชยเงินสดย่อยจากรายได้']

In [44]:
df

,อ้างอิง,การกำหนด,เลขที่เอกสาร,วันที่เอกสาร,วันที่ผ่านรายการ,คีย์การผ่านรายการ,ประเภทเอกสาร,ชื่อผู้ใช้,เขตธุรกิจ,จำนวนเงิน,เอกสารกาหักล้าง,วันที่หักล้าง,ข้อความ
5,JVJV65100010,25651004,2100004662,2022-10-04,2022-10-04,50.0,JV,203221,1094.0,-31383.43,NaN,NaN,บันทึกชดเชยเงินสดย่อยจากรายได้
14,JVJV65100028,25651007,2100014482,2022-10-07,2022-10-07,50.0,JV,203221,1094.0,-28823.35,NaN,NaN,บันทึกชดเชยเงินสดย่อยจากรายได้
18,JVJV65100034,25651010,2100014489,2022-10-10,2022-10-10,50.0,JV,203221,1094.0,-23635,NaN,NaN,บันทึกชดเชยเงินสดย่อยจากรายได้
31,JVJV65100058,25651018,2100014514,2022-10-18,2022-10-18,50.0,JV,203221,1094.0,-27295.31,NaN,NaN,บันทึกชดเชยเงินสดย่อยจากรายได้
38,JVJV65100064,25651019,2100023246,2022-10-19,2022-10-19,50.0,JV,203221,1094.0,-22508,NaN,NaN,บันทึกชดเชยเงินสดย่อยจากรายได้
42,JVJV65100076,25651021,2100023253,2022-10-21,2022-10-21,50.0,JV,203221,1094.0,-27277.18,NaN,NaN,บันทึกชดเชยเงินสดย่อยจากรายได้
51,JVJV65100090,25651027,2100037404,2022-10-27,2022-10-27,50.0,JV,203221,1094.0,-30854.01,NaN,NaN,บันทึกชดเชยเงินสดย่อยจากรายได้
54,JVJV65100095,25651028,2100037410,2022-10-28,2022-10-28,50.0,JV,203221,1094.0,-31359.54,NaN,NaN,บันทึกชดเชยเงินสดย่อยจากรายได้
58,JVJV65100101,25651031,2100037421,2022-10-31,2022-10-31,50.0,JV,203221,1094.0,-32860.6,NaN,NaN,บันทึกชดเชยเงินสดย่อยจากรายได้
59,JVJV65100102,25651031,2100037422,2022-10-31,2022-10-31,50.0,JV,203221,1094.0,-32690.8,NaN,NaN,บันทึกชดเชยเงินสดย่อยจากรายได้

In [27]:
df['วันที่ผ่านรายการ'].min()

Timestamp('2022-10-04 00:00:00')

In [38]:
from decimal import Decimal
Decimal('1.1')+Decimal('2000.2')

Decimal('2001.3')

In [56]:
a=Decimal('11111.1')

In [57]:
'a = {:,.2f}'.format(a)

'a = 11,111.10'

In [54]:
a > 0

True